p.nameclass {
    font-weight: 1000;
    color:navy;
    font-size: 20px;
    font-family: 'Rampart One', cursive,'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体';  
}
p.kick{
    font-weight: 1000;
    color:palevioletred;
    font-size: 20px;
    font-family: 'Kosugi Maru', sans-serif;
}
p.puri{
    color:aqua;
    font-size: 30px;
    font-family: 'Kosugi Maru', sans-serif;
}
table,
td {
    text-align: center;
    background-color: white;
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #00fa9a;
  color: #f5f5f5;
}
.flex {
    display:flex;
}
@font-face {
    font-family: 'こども丸ゴシック';
    src: url("../font/KodomoRounded.otf");
}
p.gaibunet{
    font-family: 'Kosugi Maru', sans-serif;
}
.gaibu{
    color: white;
    background-color: #4275e4;
    font-family: 'Kosugi Maru', sans-serif;
}
.DivLink {
    color:#000000;
    font-size:120%;
    text-decoration:none;
    transition: all .5s;
  }
.DivLink:hover{
  text-decoration:none;
  color: #ffffff;
}
.DivLink{
    font-family: 'Kosugi Maru', sans-serif;
    position:relative
}
.DivLink .Link{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pbox {
    display: flex;
    justify-content: space-around;
    border: solid 2px rgb(0, 119, 255);
    padding: 5px;
    width: 400px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    outline: none;
    background-color: #00fff2;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all 0.6s ease;
  }
  .pbox:hover::before {
    transform-origin: top right;
    transform: skewX(-45deg) translateX(0);
  }
  .pbox::before {
    content: '';
    width: 135%;
    height: 100%;
    background-color: rgb(218, 52, 227);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transform: skewX(-45deg) translateX(-100%);
    transition: inherit;
  }
  p.hug {
    line-height: 40px;
    font-size: 150px;
    color: green;
    font-family: 'Cabin', sans-serif;
    text-align: center;
  }
  p.hug1{
    font-size: 30px;
    font-family: 'Kosugi', sans-serif;
    text-align: center;
  }